### NASA Mars News

In [13]:
#import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [14]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

In [15]:
# Visit the Mars news site
url = 'https://redplanetscience.com/'
browser.visit(url)

# Optional delay for loading the page
# browser.is_element_present_by_css('div.list_text', wait_time=1)

In [16]:
# convert HTML to soup
html = browser.html
soup = soup(html, 'html.parser')

news_elem = soup.select_one('div.list_text')

In [17]:
news_elem.find('div', class_='content_title')

In [18]:
# save title
news_title = news_elem.find('div', class_='content_title').get_text()
news_title

"Mars Helicopter Attached to NASA's Perseverance Rover"

In [20]:
# save paragraph
news_parag = news_elem.find('div', class_='article_teaser_body').get_text()
news_parag

"The team also fueled the rover's sky crane to get ready for this summer's history-making launch."

### JPL Mars Space Images - Featured Image

In [22]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [23]:
# select image 
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [24]:
# find image url
html = browser.html
featured_img = soup(html, 'html.parser')

In [29]:
# find the relative image url
#img_url = featured_img.find('img', class_='fancybox-image').get('src')
img_url = ("image/featured/mars2.jpg")
img_url

'image/featured/mars2.jpg'

In [30]:
# Use the base url to create an absolute url
featured_image_url = f'https://spaceimages-mars.com/{img_url}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

### Mars Facts

In [32]:
# read mars facts page
import pandas as pd
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [33]:
df.columns=['Description', 'Mars', 'Earth']
df.set_index('Description', inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [34]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [35]:
url = 'https://marshemispheres.com/'

browser.visit(url)

In [36]:
# list to hold the images and titles
hemisphere_image_urls = []

# list of all of the hemispheres
links = browser.find_by_css('a.product-item img')

# Next, loop through those links, click the link, find the sample anchor, return the href
for i in range(len(links)):
    hemisphere = {}
    
    # We have to find the elements on each loop to avoid a stale element exception
    browser.find_by_css('a.product-item img')[i].click()
    
    # Next, we find the Sample image anchor tag and extract the href
    sample_elem = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = sample_elem['href']
    
    # hemisphere title
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    # add to list
    hemisphere_image_urls.append(hemisphere)
    
    # go back
    browser.back()

In [37]:
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [38]:
browser.quit()